
{% extends 'includes/layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>


    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <h1 class="app-page-title">Details</h1>
			    
			    <div class="app-card alert alert-dismissible shadow-sm mb-4 border-left-decoration" role="alert">
				    <div class="inner">
					    <div class="app-card-body p-3 p-lg-4">
						    <h3 class="mb-3">{{ filename }}</h3>
						    <div class="row gx-5 gy-3">
						        <div class="col-12 col-lg-9">
							        
							        <div> Detailed information of file access is shown below </div>
							    </div><!--//col-->

						    </div><!--//row-->
						    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
					    </div><!--//app-card-body-->
					    
				    </div><!--//inner-->
			    </div><!--//app-card-->
				    

			    <div class="row g-4 mb-4">

			    <div class="row g-4 mb-4">
				    <div class="col-12 col-lg-6">
				        <div class="app-card app-card-progress-list h-100 shadow-sm">
					        <div class="app-card-header p-3">
						        <div class="row justify-content-between align-items-center">
							        <div class="col-auto">
						                <h4 class="app-card-title">Info</h4>
							        </div><!--//col-->
						        </div><!--//row-->
					        </div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">


							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>IP</strong></div>
									        <div class="item-data">{{ data.ip }}</div>
									    </div><!--//col-->

								    </div><!--//row-->
							    </div><!--//item-->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Host</strong></div>
									        <div class="item-data">{{ data.host }}</div>
									    </div><!--//col-->

								    </div><!--//row-->
							    </div><!--//item-->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Address</strong></div>
									        <div class="item-data">
										        {{ data.country,data.state,data.city,data.postal }}
									        </div>
									    </div><!--//col-->

								    </div><!--//row-->
							    </div><!--//item-->
                        <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Device Info</strong></div>
									        <div class="item-data">
                                                {{ data.deviceInfo }}
									        </div>
									    </div><!--//col-->

								    </div><!--//row-->
							    </div><!--//item-->
                                                <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Access Time</strong></div>
									        <div class="item-data">
                                                {{ data.date}}
									        </div>
									    </div><!--//col-->

								    </div><!--//row-->
							    </div><!--//item-->

						    </div>








					        </div><!--//app-card-body-->
				        </div><!--//app-card-->
			        <!--//col-->
                    			        <div class="col-12 col-lg-6">
				        <div class="app-card app-card-chart h-100 shadow-sm">
					        <div class="app-card-header p-3">
						        <div class="row justify-content-between align-items-center">
							        <div class="col-auto">
						                <h4 class="app-card-title">Location</h4>
							        </div><!--//col-->
						        </div><!--//row-->
					        </div><!--//app-card-header-->
					        <div class="app-card-body p-3 p-lg-4">
						        <div class="chart-containe">
				                    <div id="mapid"></div>
						        </div>
					        </div><!--//app-card-body-->
				        </div><!--//app-card-->
			        </div><!--//col-->
			    </div><!--//row-->

    </div><!--//app-wrapper-->
 <style>
    #mapid { height: 30em; width:45em ;}

 </style>
<script>
   var mymap = L.map('mapid').setView([{{data.lng}},{{ data.lat }}], 13);
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiMjBwcmluY2UxMiIsImEiOiJja3A5OXplanAwYzc5MndsbDRjdWttM3R5In0.nn73vfsuhwt_GSTI1XrWKQ'
}).addTo(mymap);

var marker = L.marker([{{data.lng}},{{ data.lat }}]).addTo(mymap);
 </script>

{% endblock %}


